.admin-main{
    margin-top: 20px;
}


.admin-container-newchapter{
    margin-top: 20px;
    position: relative;
}

.admin-addchapter{
    border-collapse: collapse;
    border: 2px solid white;
}

.newchapter-header{
    font-size: 40px;
    text-align: center;
    color: red;
}

.admin-addchapter > .newchapter{
    display: flex;
}

.admin-addchapter > .newchapter >*{
    border: 2px solid white;
    padding: 10px;
}

.admin-addchapter > .newchapter >.newchapter-field{
    flex: 1;
    color: white;
    font-size: 30px;
    text-align: center;
}

.admin-addchapter > .newchapter >.newchapter-value{
    flex: 3;
}

.admin-addchapter >.newchapter> .newchapter-value > input
{
        background-color: transparent;
    border: none;
    border-bottom: 1px solid yellow;
    height: 40px;
    color: red;
    font-size: 30px;
    width: 100%;
}


.admin-addchapter > .add___chapter{
    text-align: center;
}

.admin-addchapter > .add___chapter>button{
    margin: 20px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    border: 1px solid red;
    background-color: #999;
    color: black;
    cursor: pointer;
    
}