/* :root{
    --animation-comic: -33.33333%
} */

.main-container{
    background-color: #252525;
    padding: 0px 0px;
}

#main__topcomic{
    transition: all 800ms ease 0s;
}


.main-container__topcomic{
    overflow: hidden;
}

.main-container__topcomic >div{
    position: relative;
}

.main-container__topcomic >div >h2{
    color: orange;
    padding: 15px 15px 10px 15px;
    font-size: 20px;
    font-weight: 500;
}

.topcomic__list{
    flex-wrap: nowrap;
}

.topcomic__item{
    height: 220px;
    /* overflow: hidden; */
    position: relative;

}

.topcomic__item > div{
    max-width: 180px;
    margin: auto;
    height: -webkit-calc(100% - 2px);
    border: 1px solid white;
    overflow: hidden;
    width: 90%;
}

.topcomic__item__info{
    height: 50px;
    width: 180px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 1px;
}

.topcomic__item__info >a{
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.topcomic__item__img > a > img{
    width: 100%;
    border: -1px solid white;
}

.topcomic__item__info > div{
    display: flex;
    justify-content: center;
}

.topcomic__item__info > div > a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.topcomic__item__info > div > div{
    color: white;
    font-size: 10px;
    line-height: 21px;
}
.buttonforgetpass {
    border-radius: 10%;
    margin-bottom: 1rem;
    padding: 1rem 0.5rem;
}


.topcomic__nextleft,
.topcomic__nextright{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    background-color: rgba(255, 255, 255,0.6);
    margin:0px 15px;
    opacity: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    border-radius: 4px;
    color: #555;
}

.topcomic__nextleft:hover,
.topcomic__nextright:hover{
    opacity: 90%;
    cursor: pointer;
}


.topcomic__nextright{
   right: 0; 
}