<div class="footer grid">
        <div class="footer--box grid wide">
            <div class="footer--container row">
                <div class="footer--container__web col l-4 m-4">
                    <div class="footer--logo">
                        <img src="/public/image/avt.png" alt="">
                        <img src="/public/image/avt.png" alt="">
                        <img src="/public/image/avt.png" alt="">
                    </div>
                    <a href="">Liên hệ bản quyền</a>
                    <p>Copyright © 2022 NetTruyen</p>
                </div>
                <div class="footer--container--key col l-8 m-8">
                    <p>Từ Khóa</p>
                    <ul>
                        <li>Truyện tranh</li>
                        <li>Truyen tranh online</li>
                        <li>Độc truyện tranh</li>
                        <li>Truyện tranh hot</li>
                        <li>Truyện tranh hay</li>
                        <li>Truyện ngôn tình</li>
                        <li>truyenqq</li>
                        <li>mi2manga</li>
                        <li>doctruyen3q</li>
                        <li>cmanga</li>
                        <li>vlogtruyen</li>
                        <li>blogtruyen</li>
                        <li>saytruyen</li>
                        <li>dichtruyen</li>
                        <li>truyentranhaudio</li>
                        <li>hamtruyen</li>
                        <li>truyensieuhay</li>
                        <li>comi</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>