.comic{
    
}

.comic-container{
    padding-top: 20px;
}



.comic-info{

}

.comic-info_header{
    text-align: center;
    color: yellow;
    font-size: 20px;
}

.comic-info_body{
    margin: 20px 0px;
}

.comic-info_body > .comic-avatar>div{
    padding: 10px;
}

.comic-info_body > .comic-avatar{
    margin: auto;
}

.comic-info_body > .comic-avatar>div>img{
    width: 100%;
    object-fit: cover;
}

.comic-detail > div{
    padding: 10px;
}

.comic-detail > div >div{
    display: flex;
    width: 30%;
    color: white;
}

.comic-detail > div >div>i{
    width: 30px;
}

.comic-detail > div >p{
    flex: 1;
     color: white;
}

.comic-detail > div >p>a{
    text-decoration: none;
    color: orange;
}

.comic-detail > div >p>a:hover{
    color: red;
}


.comic-button{
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.comic-detail__follow > .follow{
    background-color: rgb(33, 190, 33);
    border: none;
    border-radius: 5px;
    width: 100px;

}

.comic-detail__read > button{
    background-color: rgb(244, 173, 41);
    width: 120px;
    margin-right:20px;
}


.comic-info__review{
    padding: 10px;
}

.comic-info__review>.review-header,
.chapter-menu{
    border-bottom: 2px solid yellow;
    padding: 5px 0px;
    color: yellow;
    margin-bottom: 10px;
    font-size: 20px;
}

.comic-info__review>.review-detail{
    color: white;
    font-size: 15px;
}

.chapter-header{
    color: orange;
    font-size: 18px;
    padding: 10px 0px;
}

.chapter-header > .chapter{
    padding-left: 20px;
}
.comic-chapters >.chapter-detail{
    color: white;
    border: 1px solid yellow;
    border-radius: 10px;
    padding: 0px 15px 30px 15px;
    max-height: 500px;
    overflow-y: scroll
}
.comic-chapters >.chapter-detail::-webkit-scrollbar{
    width: 10px;
}

.comic-chapters >.chapter-detail::-webkit-scrollbar-track{
    background: transparent;
}

.comic-chapters >.chapter-detail::-webkit-scrollbar-thumb{
    background:orange;
    border-radius: 10px;
}

.comic-chapters >.chapter-detail::-webkit-scrollbar-thumb:hover{
    background-color: yellow;
}


.chapter-detail__list{
    display: flex;
    border-bottom: 1px dotted white;
    padding-top: 0px 10px 10px 10px;
}

.chapter-detail__list > .chapter{
    height: 30px;
}

.chapter-detail__list > .chapter>a,
.chapter-detail__list > .date-update{
    text-decoration: none;
    color: white;
    line-height: 30px;
}

.chapter-detail__list > .chapter>a:hover{
    color: red;
}

.comic-comment{
    font-size: 50px;
    color: red;
}

.chapter{
    flex: 1;
    padding: 0px 20px;
}

.date-update{
    flex: 1;
    text-align: center;
}