* {
    margin: 0px;
    font-family: Tahoma,sans-serif,Helvetica,Arial;
}

body{
    background-color: rgb(27, 27, 27);
}

.header {
    background: linear-gradient(-13deg, rgb(106 106 106) -49%, rgb(0, 0, 0));;
    height: 50px;
}

.container {
    height: 100%;
    display: flex;
    padding: 0px 15px;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

/* ----------logo----------------- */

.container-logo {
    height: 100%;
}

.container-logo>a {
    display: flex;
    height: 50px;
}

.container-logo>a {
    height: 60px;
    margin: auto 0;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* ----------seach----------------- */

.container-seach {
    height: 100%;
    width: 450px;
}

.container-seach__input{
    display: flex;
    border: 0px;
    background-color: white;
    width: 100%;
    height: 32px;
    margin: 9px 0px;
}

.container-seach__input > input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 10px;
}

.container-seach__input > i {
    margin: auto 0px;
    padding: 8px 10px;
}

.container-seach__input > i:hover{
    background-color: #9999;
    cursor: pointer;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* ----------notification----------------- */
.container-notification {
    display: flex;
    color: white;
    margin: auto 0px;
    justify-content: center;
}

.container-notification__message{
    position: relative;
}

.container-notification__light,
.container-notification__message{
    font-size: 25px;
    margin: 0px 10px;
}

.container-notification__light,
.container-notification__message :hover{
    cursor: pointer;
}

/* ----------drop-notification----------------- */

.drop-notification{
    position: absolute;
    top: 42px;
    z-index: 1;
    display: none;
}

.drop-notification__comment{
    width: 350px;
    background-color: white;
}

.drop-notification__top{
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.drop-notification__top >a{
    text-decoration: none;
    color: orange;
}
.drop-notification__bottom{
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
 
}

.list-notification__comment{
    background-color: rgba(192, 187, 187, 0.6);
    margin-bottom: 1px;
}
.list-notification__comment>a{
    display: flex;
    text-decoration: none;
}
.list-notification__comment:hover,
.list-notification__comment:hover div>*{
    background-color: black;
    color: white;
}

.comment__img{
}
.comment__img>img{
    width: 50px;
    padding: 10px;
}
.comment__notify{
    color: black;
    font-size: 15px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* ----------user----------------- */
.container-user__login{
    line-height: 50px;      
    color: red; 
    flex: 1;
    text-align: end;
    
}

.container-user__login>a{    
    color: red; 

}

.container-user {
    height: 40px;
    margin: auto 0px;
    /* position: relative; */
}

.container-user > a {
    height: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    float: right;
}

.container-user > a:hover {
    color: red;
}

.container-user:hover .drop-user{
    display: block;
}

.container-user > a >img{
    width: 40px;
    border-radius: 100em;
    object-fit: cover;
}

.container-user > a > div {
    margin: auto 5px;
    display: flex;
    flex-wrap: nowrap;
}

.container-user > a > div > span{
    margin: auto 5px;
}

/* ----------drop-user----------------- */
.drop-user{
    position: absolute;
    top: 35px;
    right: 25px;
    z-index: 15;
    display: none;
}

.drop-user >ul{
    background-color: white;
    padding-left: 0px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 58%)
}

.drop-user>ul>li{
    list-style: none;
    height: 30px;
    line-height: 30px;
}

.drop-user>ul>li>a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 0px 20px;
    font-size: 15px;
}

.drop-user>ul>li:hover a{
    color: blueviolet;
}

.drop-user>ul>li>a>i{
    padding-right: 5px;
}


/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

