@media (max-width: 349px){

    :root{
        --animation-comic: -100%
    }

    .topcomic__item,
    .listcomic--item{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .topcomic__item >div{
        max-width: 90%;
    }
    .listcomic--item > .item{
        display: flex;
    }

    .item--top{
        width: 40%;
        height: 100px;
        margin-right: 10px;
    }

    .item--bottom{
        width: 60%;
    }

    .body--container__pullright {
        width: 100% ;
   }
   .listcomic--page >ul{
    flex-wrap: wrap;
   }
}


@media (min-width: 350px) and (max-width: 500px){
    :root{
        --animation-comic: -50%
    }
    .drop-notification{
        width: 100%;
    }

    .drop-notification__comment{
        width: 100%;
        position: fixed;
        left: 0;
    }

    .footer--container{
        flex-wrap: nowrap;
    }

    .listcomic--item,
    .topcomic__item{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .topcomic__item{
        height: 175px;
    }

    .body--container{
        display: block;
    }

}



@media (min-width:501px) and (max-width: 739px){
    :root{
        --animation-comic: -33.33333%
    }

    .topcomic__nextleft,
    .topcomic__nextright{
        margin: 0px 30px;
    }
    
    .drop-notification{
        left: 0;
        width: 100%;
    }
    .footer--container{
        flex-wrap: nowrap;
    }

}





@media (min-width:740px) and (max-width: 1023px){
    :root{
        --animation-comic: -25%;
    }
    
    .container-seach{
        width: 300px;
    }


    .drop-notification{
        right: 0;
    }

    .drop-category{
        left: -235px;
        width: 400px;
    }
    .drop-ratings{
        left:-185px;
        width: 300px;
    }

    .topcomic__item{
        flex: 0 0 25%;
        max-width: 25%;
    }

    .topcomic__item__info{
        width: 90%;
    }

    .footer--container{
        flex-wrap: nowrap;

    }

    .footer--container__key{
        padding: 0px;
    }

   

    .m-8 {
        flex: 0 0 64.5%;
        max-width: 64.5%;
    }
}

@media (min-width:1024px){
    :root{
        --animation-comic: -20%;
    }

    .drop-notification{
        right: 0;
    }

    .footer--container{
        flex-wrap: nowrap;
    }

    .main-container{
        padding: 0px 15px;
    }

    .newcomment--list >ul{
        overflow-y: scroll;
    }
}