{{>header_login}}
<div class="user grid wide">
        <div class="user-container row ">
            <div class="col l-4 m-6 c-8">
                <div class="user-sidebar">
                    <div class="user-menu">
                        <div class="user-menu__avatar">
                            <img src="/public/image/avatar.jpg" alt="">
                        </div>
                        <div class="user-menu__username">
                            <div>
                                <span>Tài Khoản:</span>
                                <h3>Maviess10</h3>
                            </div>
                        </div>
                        <div class="user-menu__listbar">
                            <i class="fa-solid fa-bars" id="user-menu__listbar"></i>
                        </div>
                    </div>
                    <div class="user-list" id="user-listbar">
                        <ul>
                            <li class="user-listbar__user">
                                <a href="./user" style="color: orange; ">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>Thông tin </span>
                                </a>
                            </li>
                            <li class="user-listbar__account">
                                <a href="./account">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Tài Khoản</span>
                                </a>
                            </li>
                            <li class="user-listbar__followcomic">
                               <a href="./followcomic">
                                    <i class="fa-solid fa-book"></i>
                                    <span>Truyện theo dõi</span>
                               </a>
                            </li>
                            <li class="user-listbar__changepassword">
                                <a href="./changepassword">
                                    <i class="fa-solid fa-key"></i>
                                    <span>Đổi mật khẩu</span>
                                </a>
                            </li>
                            <li class="">
                               <a href="">
                                    <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                                    <span>Đăng xuất</span>
                               </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col userpage">
                <div class="user-page">
                    <div class="user-page__header">
                        <span>THÔNG TIN TÀI KHOẢN</span>
                    </div>
                    <div class="row main-page account">
                        <form class="user-page__account">
                            <div class="inf info-name">
                                <p>Họ Và tên:</p>
                                <input class="user-input" type="text">
                            </div>
                            <div class="inf info-gender">
                                <p>Giới Tính:</p>
                                <input class="user-input" type="text">
                            </div>
                            <div class="inf info-avatar">
                                <p>Avatar:</p>
                                <div>
                                    <img id="avatar-upload" src="/public/image/avatar.jpg" alt="">
                                </div>
                                <input type="file" id="changeavt">
                            </div>
                            <div class="account-change">
                                <button>Thay Đổi</button>
                            </div>

                        </form>
                                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var listbar =  document.getElementById("user-listbar")
        document.getElementById("user-menu__listbar").onclick = function(){
            if(listbar.style.display != "none"){
                listbar.style.display = "none"
            }else{           
                listbar.style.display = "block"
            }
        }
        
        function uploadimg(){
            const uploadImage = (e) => {
                    const avatar = document.getElementById("avatar-upload") 
                    let reader = new FileReader()
                    let img = new Image()

                    reader.onload = () => {                        
                        img.src = reader.result;
                        avatar.src =  img.src
                    }
                    reader.readAsDataURL(e.target.files[0])
                    
            };
            const imageLoader = document.getElementById('changeavt');
            imageLoader.addEventListener("change", uploadImage);
        }
        uploadimg()
    </script>