{{>header_login}}
 <div class="user grid wide">
        <div class="user-container row ">
            <div class="col l-4 m-6 c-8">
                <div class="user-sidebar">
                    <div class="user-menu">
                        <div class="user-menu__avatar">
                            <img src="/public/image/avatar.jpg" alt="">
                        </div>
                        <div class="user-menu__username">
                            <div>
                                <span>Tài Khoản:</span>
                                <h3>Maviess10</h3>
                            </div>
                        </div>
                        <div class="user-menu__listbar">
                            <i class="fa-solid fa-bars" id="user-menu__listbar"></i>
                        </div>
                    </div>
                    <div class="user-list" id="user-listbar">
                        <ul>
                            <li class="user-listbar__user">
                                <a href="./user" style="color: orange; ">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>Thông tin </span>
                                </a>
                            </li>
                            <li class="user-listbar__account">
                                <a href="./account">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Tài Khoản</span>
                                </a>
                            </li>
                            <li class="user-listbar__followcomic">
                               <a href="./followcomic">
                                    <i class="fa-solid fa-book"></i>
                                    <span>Truyện theo dõi</span>
                               </a>
                            </li>
                            <li class="user-listbar__changepassword">
                                <a href="./changepassword">
                                    <i class="fa-solid fa-key"></i>
                                    <span>Đổi mật khẩu</span>
                                </a>
                            </li>
                            <li class="">
                               <a href="">
                                    <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                                    <span>Đăng xuất</span>
                               </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col userpage">
                <div class="user-page">
                    <div class="user-page__header">
                        <span>TRUYỆN THEO DÕI</span>
                    </div>
                    <div class="row main-page followcomic">
                        <div class="user-page__followcomic grid">
                            <div class="followcomic-header row">
                                <div class="l-9">Tên truyện</div>
                                <div class="l-3">Chap mới nhất</div>
                            </div>
                            <div class="followcomic-list">
                                <div class="followcomic-list__item row no-gutters">
                                    <div class="followitem-comic col l-2">
                                        <img src="/public/image/comic.jpg" alt="">
                                    </div>
                                    <div class="item-info__name l-7"><a href="">Vân trungádasdasdassad hoa</a></div>
                                    <div class="followitem-info__status l-3">
                                      <p><a href="">Chap: 112</a></p>
                                      <p>22/22/2222</p>
                                    </div>
                                </div>
                                <div class="followcomic-list__item row no-gutters">
                                    <div class="followitem-comic col l-2">
                                        <img src="/public/image/comic.jpg" alt="">
                                    </div>
                                    <div class="item-info__name l-7"><a href="">Vân trungádasdasdassad hoa</a></div>
                                    <div class="followitem-info__status l-3">
                                      <p><a href="">Chap: 112</a></p>
                                      <p>22/22/2222</p>
                                    </div>
                                </div>
                                <div class="followcomic-list__item row no-gutters">
                                    <div class="followitem-comic col l-2">
                                        <img src="/public/image/comic.jpg" alt="">
                                    </div>
                                    <div class="item-info__name l-7"><a href="">Vân trungádasdasdassad hoa</a></div>
                                    <div class="followitem-info__status l-3">
                                      <p><a href="">Chap: 112</a></p>
                                      <p>22/22/2222</p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var listbar =  document.getElementById("user-listbar")
  
        document.getElementById("user-menu__listbar").onclick = function(){
            if(listbar.style.display != "none"){
                listbar.style.display = "none"
            }else{           
                listbar.style.display = "block"
            }
        }
    </script>