
<form action="/updateUserinforCode" class="login" method="post">

<h3>Mã xác nhận</h3>

       <div class="login-box">
        <input name="user_code" type="text" required>
        <label for="">mã xác nhận:</label>
       </div>

       {{#if message}}
        <div class="error-message"> {{message}} </div>
       {{/if}}
          <div class="login-box">
                <button class="buttonforgetpass" id="button-ne" onclick="sendCode"> xác nhận </button>
        </div>
</form>
