{{>header cookies=cookies}}
<div class="user grid wide">
        <div class="user-container row ">
            <div class="col l-4 m-6 c-8">
                <div class="user-sidebar">
                    <div class="user-menu">
                        <div class="user-menu__avatar">
                            <img class="changePass_image" src="/public/image/avatar.jpg" alt="">
                        </div>
                        <div class="user-menu__username">
                            <div>
                                <span>Tài Khoản:</span>
                                <h3 class="changePass_username">Maviess10</h3>
                            </div>
                        </div>
                        <div class="user-menu__listbar">
                            <i class="fa-solid fa-bars" id="user-menu__listbar"></i>
                        </div>
                    </div>
                    <div class="user-list" id="user-listbar">
                        <ul>
                            <li class="user-listbar__user">
                                <a href="./user">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>Thông tin </span>
                                </a>
                            </li>
                            <li class="user-listbar__account">
                                <a href="./account">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Tài Khoản</span>
                                </a>
                            </li>
                            <li class="user-listbar__followcomic">
                               <a href="./followcomic">
                                    <i class="fa-solid fa-book"></i>
                                    <span>Truyện theo dõi</span>
                               </a>
                            </li>
                            <li class="user-listbar__changepassword">
                                <a href="./changepassword" style="color: orange;">
                                    <i class="fa-solid fa-key"></i>
                                    <span>Đổi mật khẩu</span>
                                </a>
                            </li>
                            <li class="">
                               <a href="/logout">
                                    <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                                    <span>Đăng xuất</span>
                               </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col userpage">
                <div class="user-page">
                    <div class="user-page__header">
                        <span>THAY ĐỔI MẬT KHẨU</span>
                    </div>
                    
                    {{#if message}}
                    <div class="error-message">{{message}}</div>
                    {{/if}}
                    
                    <div class="row main-page changepassword">
                          <form action="change_password" method="POST" class="user-page__changepassword">
                            <div class="inf newpassword">
                                <p>Mật Khẩu Hiện Tại:</p>
                                <input name="currentPass" class="newpassword-input" type="password">
                            </div>
                            <div class="inf newpassword">
                                <p>Mật Khẩu mới:</p>
                                <input name="newPass" class="newpassword-input" type="password">
                            </div>
                            <div class="inf newpassword">
                                <p>Xác Nhận:</p>
                                <input name="confirmPass" class="newpassword-input" type="password">
                            </div>
                            <div class="password-change">
                                <button>Thay Đổi</button>
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>

    if (cookies) {
        const parseCoookie = JSON.parse(decodeURIComponent(cookies).split("=")[1])
        const avtURI = parseCoookie.avatar || "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
        const username = parseCoookie.username
        const gmail = parseCoookie.gmail || "vui lòng cập nhật email để có thể lấy lại mật khẩu khi quên"

        const uservat ="../../../public/image/avatar/"+avtURI 

        const changePass_image = document.querySelector(".changePass_image")
        const changePass_username = document.querySelector(".changePass_username")
        if (changePass_image && changePass_username) {
            changePass_image.src=uservat
            changePass_username.innerHTML = username
        }
    }

    var listbar =  document.getElementById("user-listbar")

    document.getElementById("user-menu__listbar").onclick = function(){
        if(listbar.style.display != "none"){
            listbar.style.display = "none"
        }else{           
            listbar.style.display = "block"
        }
    }
</script>