<form action="/register" class="login" method="post">
        <h3>Đăng Ký</h3>
       <div class="login-box">
        <input name="username" type="text">
        
        <label for="">Tên Tài Khoản:</label>
       </div>
       <div class="login-box">
        <input name="password" type="password" id="password1">
        <label for="">Mật Khẩu:</label>
        <i class="fa-solid fa-eye-slash" id="checkpass1"></i>
        <!-- <i class="fa-solid fa-eye"></i> -->
       </div>
       <div class="login-box">
        <input name="confirmPassword" type="password" id="password2">
        <label for="">Nhập Lại Mật Khẩu:</label>
        <i class="fa-solid fa-eye-slash" id="checkpass2"></i>
       </div>
       <div class="error-message"> {{message}} </div>
       <div class="sm">
        <button id="sm">Đăng Ký</button>
       </div>
        
        <h5><a href="/login">Đăng Nhập</a></h5>
    </form>

<script>
    document.getElementById("checkpass1").onclick = function(){
        document.getElementById("password1").type = "text"
        document.getElementById("checkpass1").setAttribute("class","fa-solid fa-eye")
    }
    document.getElementById("checkpass2").onclick = function(){
        document.getElementById("password2").type = "text"
        document.getElementById("checkpass2").setAttribute("class","fa-solid fa-eye")
    }
    
</script>