{{>header cookies=cookies}}
 <div class="user grid wide">
        <div class="user-container row ">
            <div class="col l-4 m-6 c-8">
                <div class="user-sidebar">
                    <div class="user-menu">
                        <div class="user-menu__avatar">
                            <img class="userdetails_image" src="/public/image/avatar.jpg" alt="">
                        </div>
                        <div class="user-menu__username">
                            <div>
                                <span>Tài Khoản:</span>
                                <h3 class="user_details_username">{{data.username}}</h3>
                            </div>
                        </div>
                        <div class="user-menu__listbar">
                            <i class="fa-solid fa-bars" id="user-menu__listbar"></i>
                        </div>
                    </div>
                    <div class="user-list" id="user-listbar">
                        <ul>
                            <li class="user-listbar__user">
                                <a href="./user" style="color: orange; ">
                                    <i class="fa-solid fa-circle-info"></i>
                                    <span>Thông tin </span>
                                </a>
                            </li>
                            <li class="user-listbar__account">
                                <a href="./account">
                                    <i class="fa-solid fa-user"></i>
                                    <span>Tài Khoản</span>
                                </a>
                            </li>
                            <li class="user-listbar__followcomic">
                               <a href="./followcomic">
                                    <i class="fa-solid fa-book"></i>
                                    <span>Truyện theo dõi</span>
                               </a>
                            </li>
                            <li class="user-listbar__changepassword">
                                <a href="./changepassword">
                                    <i class="fa-solid fa-key"></i>
                                    <span>Đổi mật khẩu</span>
                                </a>
                            </li>
                            <li class="">
                               <a href="/logout">
                                    <i class="fa-sharp fa-solid fa-circle-xmark"></i>
                                    <span>Đăng xuất</span>
                               </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col userpage">
                <div class="user-page">
                    <div class="user-page__header">
                        <span>THÔNG TIN CHUNG</span>
                    </div>
                    <div class="row main-page">
                        <div class="user-page__info">
                            
                            <div class="inf info-name">
                                <p>Họ Và tên:</p>
                                <span class="user_details_username2">Thủy Kê Tử</span>
                            </div>
                            <div class="inf info-gender">
                                <p>Giới Tính:</p>
                                <span class="account_gender">Nam</span>
                            </div>
                            <div class="inf info-gmail">
                                <p>Gmail:</p>
                                <span class="userDetails_gmail"></span>
                            </div>
                            <div class="inf info-dayjoin">
                                <p>Ngày tham gia:</p>
                                <span class="userDetails_dayat">22/02/2022</span>
                            </div>
                            <div class="inf info-level">
                                <p>Level:</p>
                                <span>0</span>
                            </div>
                            <div class="info-progress">
                                <div class="progresslevel grid row">
                                    <p class="userlv-now">Level 0</p>
                                    <p class="userlv-next">Level 1</p>
                                </div>
                                <div class="progressbar">
                                    <p><span></span></p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="user-page__avt">
                            <div>
                                <img class="userdetails_image2" src="/public/image/avatar.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    var listbar =  document.getElementById("user-listbar")
    document.getElementById("user-menu__listbar").onclick = function(){
        if(listbar.style.display != "none"){
            listbar.style.display = "none"
        }else{           
            listbar.style.display = "block"
        }
    }
    const parseCoookie = JSON.parse(decodeURIComponent(cookies).split("=")[1])
    const avtURI = parseCoookie.avatar || "https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F08%2F04%2Fcream-golden-retriever-closeup-91607998-2000.jpg"
    const username = parseCoookie.username
    const gender = parseCoookie.gender
    const fullname = parseCoookie.fullname
    const createAt = parseCoookie.createAt
    console.log(username)
    console.log("=====")
    const gmail = parseCoookie.gmail || "vui lòng cập nhật email để có thể lấy lại được mật khẩu khi quên"
    const userdetails_image = document.querySelector(".userdetails_image")
    const userdetails_image2 = document.querySelector(".userdetails_image2")
    const user_details_username = document.querySelector(".user_details_username")
    console.log(user_details_username)
    const user_details_username2 = document.querySelector(".user_details_username2")
    const userDetails_gmail = document.querySelector(".userDetails_gmail")
    const account_gender = document.querySelector(".account_gender")
    const userDetails_dayat = document.querySelector(".userDetails_dayat")
    

    if (user_details_username && userdetails_image && user_details_username2 && userDetails_gmail && account_gender && userDetails_dayat) {
        const uservat ="../../../public/image/avatar/"+avtURI 
        
        userdetails_image.src=uservat
        userDetails_dayat.innerHTML = createAt
        account_gender.innerHTML = gender
        userdetails_image2.src=uservat
        userDetails_gmail.innerHTML = gmail
        user_details_username.innerHTML = username
        user_details_username2.innerHTML = fullname
    }
        
</script>